@charset "UTF-8";

@media screen and (min-width: 768px){
    #burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        width: 10vw;
        display: inline-block;
    }

    main{
        width: 70vw;
    }
}