@charset "UTF-8";

@media print {
    body{
        background-image: url(../imagens/back-print.jpg); 
        /*Desnecessario pos nao se e imprimido background image ! */

    }
    main{
        height: 35vh;
        width: 90vw;
        border: 4px solid black;
    }

    main h1{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
    }

    body.container{
        position: relative;
        height: 96vh;
    }

    main.conteudo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
    
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}

    
}
/* Pc */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
    
}

/* Tv */
@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    
}