@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: gray;
    margin-bottom: 10px;
}

header > h1{
    text-align: center;
}

menu{
    
}

menu ul{
    list-style-type: none;
    background-color: rgb(94, 94, 94);
}

menu li{
    background-color: rgb(73, 73, 73);
    color: white;
    display: inline-block;
    padding: 10px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}

article p{
    text-align: justify;
    padding: 10px;
}